<h2>Playlist Page</h2>

<!-- no [] in HBS -->
{{songList.0.title}}

<ol>
  {{#each songList}}
    <!-- "this" in hbs ONLY works inside an "#each" -->
    <li>
      <h3>{{this.title}} ({{this.year}})</h3>
      <p>by {{this.artist}}</p>
      <img src="{{this.photoUrl}}" />
    </li>
  {{/each}}
</ol>
